
<div class='warning' id='warningPresence'>
    <p>The Mobile version of the site is still in development, it is recommended to use the desktop version</p>
    <br>
    <span id='clickOffWarning' onclick='removeWarning(this)'>&#10799;</span>
</div>
<div>
    {{!-- Idea have it complete the typewriter, when you hover over the text --}}
    <div class='background'>
        <div id='navigation' class='navigationgate'>
            <a id='homenavimage' href='/'><img class='navhomeimage' src='../images/cloud-computing.png' alt=''></a>
            <div class='burger' onclick='changeBurger(this);mobileNavMap(this);'>
                <div class='bar1'></div>
                <div class='bar2'></div>
                <div class='bar3'></div>
            </div>
            <div class='mobilenavigation'>
                <div class='navigation'>
                    <div>
                        <a href='/' title=''>{{ link1 }}</a>
                        <a href='/contact' title=''>{{ link2 }}</a>
                        <a href='/what-we-do' title=''>{{ link3 }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class='setter'>
            <h1 class='homepagecolor'><span class='highlight'>{{title}}</span><span class='highlight1'>orious</span> <span id='type'></span><div class='pipewait'>_</div>:</h1>
        </div>
        <div class='mobilehomepagebutton'>
            <div>
                <a href=''>Get Started</a>
            </div>
        </div>
    </div>
</div>



{{!-- {{title}} --}}
<div class='space'></div>

<div id='section1' class='section'>
    <div>
        <div>
            <img src="../images/code.png" alt="">
            <p class='header'>Hand written code</p>
            <hr class='linecenter'>
            <br>
            <p>The services we offer are only executed by our trained and certified professionals.</p>
        </div>
    </div>
    <div>
        <div>
            <img src="../images/knowledge.png" alt="">
            <p class='header'>Human Integration</p>
            <hr class='linecenter'>
            <br>
            <p>Who needs A.I. generated code when you can have a <u>certified</u> professional type out code for your business needs.</p>
        </div>
    </div>
    <div>
        <div>
            <img src="../images/database.png" alt=" ">
            <p class='header'>Database Managment</p>
            <hr class='linecenter'>
            <br>
            <p>Have a backend server that needs tweaking? Or a MySQL server for your website that needs to be set up? We can do all those for you!</p>
        </div>
    </div>
</div>
<div id='section2' class='section'>
    <div>
        <div>
            <img src="../images/chat.png" alt="">
            <p class='header'>Technical Advice</p>
            <hr class='linecenter'>
            <br>
            <p>Not 100% about what software or hardware to use for your application? We have you covered!</p>
        </div>
    </div>
    <div>
        <div>
            <img src="../images/maintenance.png" alt="">
            <p class='header'>Computer Repair</p>
            <hr class='linecenter'>
            <br>
            <p>Have a broken computer and need it fixed? That's no issue for our staff!</p>
        </div>
    </div>
    <div>
        <div>
            <img src="../images/bash.png" alt=" ">
            <p class='header'>Bash Scripting</p>
            <hr class='linecenter'>
            <br>
            <p>We have knowledge of the 3 <u>major</u> operating systems, for making bash scripts to allow your computers to do almost anything!</p>
        </div>
    </div>
</div>

<div class='space'></div>

<div id='section3' class='section blacksection'>
    <div style='opacity:0;'>
        <p>1</p>
    </div>
    <div>
        <div>
            <img src='../images/placeholder.png' alt=''>
            <h1>Tate Fowble</h1>
            <h4>Founder / Head-Developer</h4>
            <br>
            <hr class='linecenter'>
            <ul>
                <li>Sales</li>
                <li>Full Stack Web Development</li>
                <li>Programming</li>
                <li>System Set-up</li>
                <li>Server Integration</li>
                <li>Serverside Scripting</li>
                <li>Bash Scripting</li>
                <li>Tech Consulting</li>
                <li>Network Set-up</li>
            </ul>
        </div>
    </div>
    <div style='opacity:0;'>
        <p>3</p>
    </div>
</div>

<div class='space'></div>

<div id='section4' class='section'>
    <div>
        <a href='#section4'>Learn More</a>
    </div>
</div>

<div class='space'></div>
{{!-- footer start --}}

<div id='footer' class='footerSection'>
    <div><p>1</p></div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Contacts</a></li>
            <li><a href="/">Examples</a></li>
        </ul>
    </div>
    <div><p>3</p></div>
</div>

{{!-- Livestreams, videos, webpages, --}}

